# Pair Programming

Programming in pairs is a serious methodology, proven in many studies to be more effective than programming alone. Today we will pair up, but we need to decide how to match everyone!

To do that, we need to write a function that can, taking the list of students, can randomly pair them together. 

You have seen "assertions" in both python (assert) and R (stopifnot). I would like you to write your own, BEFORE you write the code to the function "make_pairs". Write an assertion, then write the code to make the assertion pass. This automates your testing!

The output should be: 

1. A list of lists. 
2. Each "row" should have 2-3 elements.
3. Each element should be a full name (i.e. "Nandan Rao")
4. Each person should be somewhere in the list.
5. No person should appear more than once!

Good luck!

In [5]:
import csv

with open('class.csv', 'r') as f: 
    students = [dict(l) for l in csv.DictReader(f)]

In [7]:
students

[{'First Name': 'Felix',
  'Last Name': 'Adam',
  'GSE Email': 'felix.adam@barcelonagse.eu'},
 {'First Name': 'Sixter Leonardo',
  'Last Name': 'Alcivar',
  'GSE Email': 'sixter.alcivar@barcelonagse.eu'},
 {'First Name': 'Julia Bois',
  'Last Name': 'Barnett',
  'GSE Email': 'julia.barnett@barcelonagse.eu'},
 {'First Name': 'Eric Alan',
  'Last Name': 'Beckwith',
  'GSE Email': 'eric.beckwith@barcelonagse.eu'},
 {'First Name': 'Maia',
  'Last Name': 'Brenner Stainfeld',
  'GSE Email': 'maia.brennerstainfeld@barcelonagse.eu'},
 {'First Name': 'Hannah',
  'Last Name': 'Busshoff',
  'GSE Email': 'hannah.busshoff@barcelonagse.eu'},
 {'First Name': 'Hector Eulogio',
  'Last Name': 'Cano',
  'GSE Email': 'hector.cano@barcelonagse.eu'},
 {'First Name': 'Reid',
  'Last Name': 'Falconer',
  'GSE Email': 'reid.falconer@barcelonagse.eu'},
 {'First Name': 'Lucas',
  'Last Name': 'Freire',
  'GSE Email': 'lucas.freire@barcelonagse.eu'},
 {'First Name': 'Hannah',
  'Last Name': 'Gerits',
  'GSE Email': 'hannah.gerits@barcelonagse.eu'},
 {'First Name': 'Georgi Konstantinov',
  'Last Name': 'Gulyashki',
  'GSE Email': 'georgi.gulyashki@barcelonagse.eu'},
 {'First Name': 'Ari',
  'Last Name': 'Lam',
  'GSE Email': 'ari.lam@barcelonagse.eu'},
 {'First Name': 'Sam Peter',
  'Last Name': 'MacIntyre',
  'GSE Email': 'sam.macintyre@barcelonagse.eu'},
 {'First Name': 'Oscar',
  'Last Name': 'Martínez',
  'GSE Email': 'oscar.martinez@barcelonagse.eu'},
 {'First Name': 'Monika Anna',
  'Last Name': 'Matyja',
  'GSE Email': 'monika.matyja@barcelonagse.eu'},
 {'First Name': 'Evelyn Maria',
  'Last Name': 'Molina Bolaños',
  'GSE Email': 'evelyn.molinabolanos@barcelonagse.eu'},
 {'First Name': 'Jordi',
  'Last Name': 'Morera Serra',
  'GSE Email': 'jordi.morera@barcelonagse.eu'},
 {'First Name': 'Konstantinos',
  'Last Name': 'Niakaros',
  'GSE Email': 'konstantinos.niakaros@barcelonagse.eu'},
 {'First Name': 'Snorri',
  'Last Name': 'Petersen',
  'GSE Email': 'snorri.petersen@barcelonagse.eu'},
 {'First Name': 'Maryam',
  'Last Name': 'Rahbaralam',
  'GSE Email': 'maryam.rahbaralam@barcelonagse.eu'},
 {'First Name': 'Guillem',
  'Last Name': 'Sitges',
  'GSE Email': 'guillem.sitges@barcelonagse.eu'},
 {'First Name': 'Callan James',
  'Last Name': 'Windsor',
  'GSE Email': 'callan.windsor@barcelonagse.eu'},
 {'First Name': 'Sebastian',
  'Last Name': 'Wolf',
  'GSE Email': 'sebastian.wolf@barcelonagse.eu'},
 {'First Name': 'Kaka',
  'Last Name': 'Ye',
  'GSE Email': 'kaka.ye@barcelonagse.eu'},
 {'First Name': 'Maximilian',
  'Last Name': 'Zebhauser',
  'GSE Email': 'maximilian.zebhauser@barcelonagse.eu'}]

In [20]:
import pandas as pd 
data = pd.read_csv("class.csv") 
data

data["Full Name"] = data["Last Name"].map(str) + " " + data["First Name"]
data

,First Name,Last Name,GSE Email,Full Name
0,Felix,Adam,felix.adam@barcelonagse.eu,Adam Felix
1,Sixter Leonardo,Alcivar,sixter.alcivar@barcelonagse.eu,Alcivar Sixter Leonardo
2,Julia Bois,Barnett,julia.barnett@barcelonagse.eu,Barnett Julia Bois
3,Eric Alan,Beckwith,eric.beckwith@barcelonagse.eu,Beckwith Eric Alan
4,Maia,Brenner Stainfeld,maia.brennerstainfeld@barcelonagse.eu,Brenner Stainfeld Maia
5,Hannah,Busshoff,hannah.busshoff@barcelonagse.eu,Busshoff Hannah
6,Hector Eulogio,Cano,hector.cano@barcelonagse.eu,Cano Hector Eulogio
7,Reid,Falconer,reid.falconer@barcelonagse.eu,Falconer Reid
8,Lucas,Freire,lucas.freire@barcelonagse.eu,Freire Lucas
9,Hannah,Gerits,hannah.gerits@barcelonagse.eu,Gerits Hannah
10,Georgi Konstantinov,Gulyashki,georgi.gulyashki@barcelonagse.eu,Gulyashki Georgi Konstantinov
11,Ari,Lam,ari.lam@barcelonagse.eu,Lam Ari
12,Sam Peter,MacIntyre,sam.macintyre@barcelonagse.eu,MacIntyre Sam Peter
13,Oscar,Martínez,oscar.martinez@barcelonagse.eu,Martínez Oscar
14,Monika Anna,Matyja,monika.matyja@barcelonagse.eu,Matyja Monika Anna
15,Evelyn Maria,Molina Bolaños,evelyn.molinabolanos@barcelonagse.eu,Molina Bolaños Evelyn Maria
16,Jordi,Morera Serra,jordi.morera@barcelonagse.eu,Morera Serra Jordi
17,Konstantinos,Niakaros,konstantinos.niakaros@barcelonagse.eu,Niakaros Konstantinos
18,Snorri,Petersen,snorri.petersen@barcelonagse.eu,Petersen Snorri
19,Maryam,Rahbaralam,maryam.rahbaralam@barcelonagse.eu,Rahbaralam Maryam
20,Guillem,Sitges,guillem.sitges@barcelonagse.eu,Sitges Guillem
21,Callan James,Windsor,callan.windsor@barcelonagse.eu,Windsor Callan James
22,Sebastian,Wolf,sebastian.wolf@barcelonagse.eu,Wolf Sebastian
23,Kaka,Ye,kaka.ye@barcelonagse.eu,Ye Kaka
24,Maximilian,Zebhauser,maximilian.zebhauser@barcelonagse.eu,Zebhauser Maximilian

In [22]:
data1=data[0:12]
data1

,First Name,Last Name,GSE Email,Full Name
0,Felix,Adam,felix.adam@barcelonagse.eu,Adam Felix
1,Sixter Leonardo,Alcivar,sixter.alcivar@barcelonagse.eu,Alcivar Sixter Leonardo
2,Julia Bois,Barnett,julia.barnett@barcelonagse.eu,Barnett Julia Bois
3,Eric Alan,Beckwith,eric.beckwith@barcelonagse.eu,Beckwith Eric Alan
4,Maia,Brenner Stainfeld,maia.brennerstainfeld@barcelonagse.eu,Brenner Stainfeld Maia
5,Hannah,Busshoff,hannah.busshoff@barcelonagse.eu,Busshoff Hannah
6,Hector Eulogio,Cano,hector.cano@barcelonagse.eu,Cano Hector Eulogio
7,Reid,Falconer,reid.falconer@barcelonagse.eu,Falconer Reid
8,Lucas,Freire,lucas.freire@barcelonagse.eu,Freire Lucas
9,Hannah,Gerits,hannah.gerits@barcelonagse.eu,Gerits Hannah
10,Georgi Konstantinov,Gulyashki,georgi.gulyashki@barcelonagse.eu,Gulyashki Georgi Konstantinov
11,Ari,Lam,ari.lam@barcelonagse.eu,Lam Ari

In [23]:
data2=data[12:25]
data2

,First Name,Last Name,GSE Email,Full Name
12,Sam Peter,MacIntyre,sam.macintyre@barcelonagse.eu,MacIntyre Sam Peter
13,Oscar,Martínez,oscar.martinez@barcelonagse.eu,Martínez Oscar
14,Monika Anna,Matyja,monika.matyja@barcelonagse.eu,Matyja Monika Anna
15,Evelyn Maria,Molina Bolaños,evelyn.molinabolanos@barcelonagse.eu,Molina Bolaños Evelyn Maria
16,Jordi,Morera Serra,jordi.morera@barcelonagse.eu,Morera Serra Jordi
17,Konstantinos,Niakaros,konstantinos.niakaros@barcelonagse.eu,Niakaros Konstantinos
18,Snorri,Petersen,snorri.petersen@barcelonagse.eu,Petersen Snorri
19,Maryam,Rahbaralam,maryam.rahbaralam@barcelonagse.eu,Rahbaralam Maryam
20,Guillem,Sitges,guillem.sitges@barcelonagse.eu,Sitges Guillem
21,Callan James,Windsor,callan.windsor@barcelonagse.eu,Windsor Callan James
22,Sebastian,Wolf,sebastian.wolf@barcelonagse.eu,Wolf Sebastian
23,Kaka,Ye,kaka.ye@barcelonagse.eu,Ye Kaka
24,Maximilian,Zebhauser,maximilian.zebhauser@barcelonagse.eu,Zebhauser Maximilian

In [29]:
import numpy as np

In [37]:
data1['C'] = np.arange(len(data1))
print (data1)

             First Name          Last Name  \
0                 Felix               Adam
1       Sixter Leonardo            Alcivar
2            Julia Bois            Barnett
3             Eric Alan           Beckwith
4                  Maia  Brenner Stainfeld
5                Hannah           Busshoff
6        Hector Eulogio               Cano
7                  Reid           Falconer
8                 Lucas             Freire
9                Hannah             Gerits
10  Georgi Konstantinov          Gulyashki
11                  Ari                Lam

                                GSE Email                      Full Name   C
0              felix.adam@barcelonagse.eu                     Adam Felix   0
1          sixter.alcivar@barcelonagse.eu        Alcivar Sixter Leonardo   1
2           julia.barnett@barcelonagse.eu             Barnett Julia Bois   2
3           eric.beckwith@barcelonagse.eu             Beckwith Eric Alan   3
4   maia.brennerstainfeld@barcelonagse.eu         Brenner Stainfeld Maia   4
5         hannah.busshoff@barcelonagse.eu                Busshoff Hannah   5
6             hector.cano@barcelonagse.eu            Cano Hector Eulogio   6
7           reid.falconer@barcelonagse.eu                  Falconer Reid   7
8            lucas.freire@barcelonagse.eu                   Freire Lucas   8
9           hannah.gerits@barcelonagse.eu                  Gerits Hannah   9
10       georgi.gulyashki@barcelonagse.eu  Gulyashki Georgi Konstantinov  10
11                ari.lam@barcelonagse.eu                        Lam Ari  11

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [30]:
data2['C'] = np.arange(len(data2))
print (data2)

      First Name       Last Name                              GSE Email  \
12     Sam Peter       MacIntyre          sam.macintyre@barcelonagse.eu
13         Oscar        Martínez         oscar.martinez@barcelonagse.eu
14   Monika Anna          Matyja          monika.matyja@barcelonagse.eu
15  Evelyn Maria  Molina Bolaños   evelyn.molinabolanos@barcelonagse.eu
16         Jordi    Morera Serra           jordi.morera@barcelonagse.eu
17  Konstantinos        Niakaros  konstantinos.niakaros@barcelonagse.eu
18        Snorri        Petersen        snorri.petersen@barcelonagse.eu
19        Maryam      Rahbaralam      maryam.rahbaralam@barcelonagse.eu
20       Guillem          Sitges         guillem.sitges@barcelonagse.eu
21  Callan James         Windsor         callan.windsor@barcelonagse.eu
22     Sebastian            Wolf         sebastian.wolf@barcelonagse.eu
23          Kaka              Ye                kaka.ye@barcelonagse.eu
24    Maximilian       Zebhauser   maximilian.zebhauser@barcelonagse.eu

                      Full Name   C
12          MacIntyre Sam Peter   0
13               Martínez Oscar   1
14           Matyja Monika Anna   2
15  Molina Bolaños Evelyn Maria   3
16           Morera Serra Jordi   4
17        Niakaros Konstantinos   5
18              Petersen Snorri   6
19            Rahbaralam Maryam   7
20               Sitges Guillem   8
21         Windsor Callan James   9
22               Wolf Sebastian  10
23                      Ye Kaka  11
24         Zebhauser Maximilian  12

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [38]:
data1

,First Name,Last Name,GSE Email,Full Name,C
0,Felix,Adam,felix.adam@barcelonagse.eu,Adam Felix,0
1,Sixter Leonardo,Alcivar,sixter.alcivar@barcelonagse.eu,Alcivar Sixter Leonardo,1
2,Julia Bois,Barnett,julia.barnett@barcelonagse.eu,Barnett Julia Bois,2
3,Eric Alan,Beckwith,eric.beckwith@barcelonagse.eu,Beckwith Eric Alan,3
4,Maia,Brenner Stainfeld,maia.brennerstainfeld@barcelonagse.eu,Brenner Stainfeld Maia,4
5,Hannah,Busshoff,hannah.busshoff@barcelonagse.eu,Busshoff Hannah,5
6,Hector Eulogio,Cano,hector.cano@barcelonagse.eu,Cano Hector Eulogio,6
7,Reid,Falconer,reid.falconer@barcelonagse.eu,Falconer Reid,7
8,Lucas,Freire,lucas.freire@barcelonagse.eu,Freire Lucas,8
9,Hannah,Gerits,hannah.gerits@barcelonagse.eu,Gerits Hannah,9
10,Georgi Konstantinov,Gulyashki,georgi.gulyashki@barcelonagse.eu,Gulyashki Georgi Konstantinov,10
11,Ari,Lam,ari.lam@barcelonagse.eu,Lam Ari,11

In [44]:
data3=data1.merge(data2, left_on='C', right_on='C', how='outer')
data3

,First Name_x,Last Name_x,GSE Email_x,Full Name_x,C,First Name_y,Last Name_y,GSE Email_y,Full Name_y
0,Felix,Adam,felix.adam@barcelonagse.eu,Adam Felix,0,Sam Peter,MacIntyre,sam.macintyre@barcelonagse.eu,MacIntyre Sam Peter
1,Sixter Leonardo,Alcivar,sixter.alcivar@barcelonagse.eu,Alcivar Sixter Leonardo,1,Oscar,Martínez,oscar.martinez@barcelonagse.eu,Martínez Oscar
2,Julia Bois,Barnett,julia.barnett@barcelonagse.eu,Barnett Julia Bois,2,Monika Anna,Matyja,monika.matyja@barcelonagse.eu,Matyja Monika Anna
3,Eric Alan,Beckwith,eric.beckwith@barcelonagse.eu,Beckwith Eric Alan,3,Evelyn Maria,Molina Bolaños,evelyn.molinabolanos@barcelonagse.eu,Molina Bolaños Evelyn Maria
4,Maia,Brenner Stainfeld,maia.brennerstainfeld@barcelonagse.eu,Brenner Stainfeld Maia,4,Jordi,Morera Serra,jordi.morera@barcelonagse.eu,Morera Serra Jordi
5,Hannah,Busshoff,hannah.busshoff@barcelonagse.eu,Busshoff Hannah,5,Konstantinos,Niakaros,konstantinos.niakaros@barcelonagse.eu,Niakaros Konstantinos
6,Hector Eulogio,Cano,hector.cano@barcelonagse.eu,Cano Hector Eulogio,6,Snorri,Petersen,snorri.petersen@barcelonagse.eu,Petersen Snorri
7,Reid,Falconer,reid.falconer@barcelonagse.eu,Falconer Reid,7,Maryam,Rahbaralam,maryam.rahbaralam@barcelonagse.eu,Rahbaralam Maryam
8,Lucas,Freire,lucas.freire@barcelonagse.eu,Freire Lucas,8,Guillem,Sitges,guillem.sitges@barcelonagse.eu,Sitges Guillem
9,Hannah,Gerits,hannah.gerits@barcelonagse.eu,Gerits Hannah,9,Callan James,Windsor,callan.windsor@barcelonagse.eu,Windsor Callan James
10,Georgi Konstantinov,Gulyashki,georgi.gulyashki@barcelonagse.eu,Gulyashki Georgi Konstantinov,10,Sebastian,Wolf,sebastian.wolf@barcelonagse.eu,Wolf Sebastian
11,Ari,Lam,ari.lam@barcelonagse.eu,Lam Ari,11,Kaka,Ye,kaka.ye@barcelonagse.eu,Ye Kaka
12,NaN,NaN,NaN,NaN,12,Maximilian,Zebhauser,maximilian.zebhauser@barcelonagse.eu,Zebhauser Maximilian

In [45]:
type(data3)

pandas.core.frame.DataFrame

In [50]:
data4= data3[['Full Name_x','Full Name_y']]
data4

                      Full Name_x                  Full Name_y
0                      Adam Felix          MacIntyre Sam Peter
1         Alcivar Sixter Leonardo               Martínez Oscar
2              Barnett Julia Bois           Matyja Monika Anna
3              Beckwith Eric Alan  Molina Bolaños Evelyn Maria
4          Brenner Stainfeld Maia           Morera Serra Jordi
5                 Busshoff Hannah        Niakaros Konstantinos
6             Cano Hector Eulogio              Petersen Snorri
7                   Falconer Reid            Rahbaralam Maryam
8                    Freire Lucas               Sitges Guillem
9                   Gerits Hannah         Windsor Callan James
10  Gulyashki Georgi Konstantinov               Wolf Sebastian
11                        Lam Ari                      Ye Kaka
12                            NaN         Zebhauser Maximilian

In [8]:
def make_pairs(students):
    return []

In [4]:
# Write your own test for the assignment!
import random
random.shuffle(student_list)

half = round (len(student_list)/2)

student_pairs = []

for student in student_list(:half) :
    pair = student
    student_pairs.append(student)
    
    
test_students = [
    {'First Name': 'Foo', 'Last Name': 'Funderson'},
    {'First Name': 'Baz', 'Last Name': 'Bazerson'},
    {'First Name': 'Bar', 'Last Name': 'Barson'},
    {'First Name': 'Qux', 'Last Name': 'Quxson'},
    {'First Name': 'Quux', 'Last Name': 'Quuxson'},
]

pairs = make_pairs(test_students)

# Write assertions here!
assert(type(pairs) == list)